DEBUG=True
DJANGO_SECRET_KEY=django-insecure-31l-vwlx07-3g_je0rb871zkyh+00hjsgkb2ocr5utppmxii5l
HOST_PORT=8000
DJANGO_ENV=local
ALLOWED_HOSTS=*
URL_PREFIX=assistant

POSTGRES_DB=tutor_db
POSTGRES_USER=tutor_user
POSTGRES_PASSWORD=tutor_pass
POSTGRES_HOST=db-rag-assistant
POSTGRES_PORT=5432

REDIS_HOST=redis-rag-assistant
REDIS_PORT=6379

LLM_API_URL=http://localhost:1234/v1/chat/completions
LLM_MODEL=mistralai/mathstral-7b-v0.1
LLM_API_KEY=

# LLM_API_URL=https://api.deepseek.com/v1/chat/completions
# LLM_MODEL=deepseek-chat
# LLM_API_KEY=your_deepseek_api_key_here