DEBUG=True
DJANGO_SECRET_KEY=django-insecure-31l-vwlx07-3g_je0rb871zkyh+00hjsgkb2ocr5utppmxii5l
WEBSERVER_HOST_PORT=8001
DJANGO_ENV=local
ALLOWED_HOSTS=localhost,127.0.0.1,api-rag-assistant

POSTGRES_DB=tutor_db
POSTGRES_USER=tutor_user
POSTGRES_PASSWORD=tutor_pass
POSTGRES_HOST=db-rag-assistant
POSTGRES_PORT=5432

REDIS_HOST=redis-rag-assistant
REDIS_PORT=6379

# Vectorstore settings
VECTORSTORE_BACKEND=pgvector
EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"
VECTOR_SIZE=384 # dimensionality of embedding model
PGVECTOR_COLLECTION_NAME=rag_docs

# LLM settings
LLM_API_URL=https://api.deepseek.com/v1/chat/completions
LLM_MODEL=deepseek-chat
LLM_API_KEY=your_deepseek_api_key_here
CHUNK_SIZE=10000

# GROQ LLM settings
GROQ_LLM_MODEL=llama-3.1-8b-instant
GROQ_LLM_API_KEY=your_groq_api_key_here
